/* build your layout */
body {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("images/bloodywood.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  image-rendering: auto;
}
.row1 {
  display: flex;
  height: 10%;
  width: 100%;
}

.row2 {
  display: flex;
  height: calc(65% / 2);
  width: 100%;
}
.row3 {
  display: flex;
  height: 25%;
  width: 100%;
}

.column1 {
  display: block;
  height: 100%;
  width: 100%;
}

.column2 {
  display: block;
  height: 100%;
  width: 100%;
}

.box1 {
  height: 100%;
  width: calc(100% / 7);
}

.box2 {
  height: 100%;
  width: 50%;
}

.box3 {
  height: 100%;
  width: calc(50% / 4);
}

.box4 {
  height: 100%;
  width: 80%;
}

.box5 {
  height: 100%;
  width: 20%;
}

img {
  max-height: 90%;
  max-width: 90%;
}

.squares {
  width: 100%;
  height: 100%;
  margin-right: 10%;
}

text {
  font-family: "Rubik 80s Fade";
  font-size: 2.4vw;
  text-align: center;
  color: #fffbfb;
  position: absolute;
}

h1 {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  bottom: 2%;
  text-align: center;
  color: #a08a4f;
  position: absolute;
}

.movedown {
  position: relative;
  top: 150px;
  left: 26%;
}

.artimage {
  position: absolute;
  bottom: 30%;
  left: 22%;
  max-width: 100%;
  height: auto;
}

.dialogue {
  position: absolute;
  bottom: 13%;
  right: 15%;
  max-width: 100%;
  height: auto;
}

.artInstruct {
  margin-top: 4%;
  height: 8%;
  width: 20%;
  position: absolute;
}

.no-cursor {
  cursor: default;
}

/* control your content */
.center-content,
.row {
  justify-content: center;
  align-items: center;
  display: flex;
}
.contain-image {
  max-height: 70%;
  max-width: 90%;
}

/* enhance the UX */
.opaque {
  opacity: 0.3;
  cursor: default;
}

.clickable {
  filter: brightness(82%) drop-shadow(2px 8px 3px);
}
.clickable:hover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(2px 8px 3px);
}

.clickable:active {
  filter: drop-shadow(0px 2px 3px);
  transform: scale(0.98);
}

/* colors help visually separate divs */
.light-grey {
  background-color: #a9a9a9;
}
.dark-grey {
  background-color: #707070;
}
.dark-green {
  background-color: #507761;
}
.black {
  background-color: black;
}
.blood {
  background-color: #2f0000;
}
.dark-blue {
  background-color: #000435;
}
.golden {
  background-color: #b59410;
}

.blue {
  background-color: #01acf1;
}

.purple {
  background-color: #867ba5;
}

.ash-grey {
  background-color: #4e3939;
}

/* Add a modal pop-up window */
/* https://en.wikipedia.org/wiki/Modal_window */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.95;
}

.modal2 {
  display: none;
  position: fixed;
  top: 5%;
  left: 10%;
  right: 5%;
  z-index: 1000;
  width: 80%;
  height: 85%;
  justify-content: center;
  align-items: center;
  outline: 200px solid rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.modal3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgb(71, 49, 49);
  opacity: 0.95;
}

#resetTimerBtn {
  font-size: 1.5rem; /* size of text */
  padding: 15px 40px; /* rectangular shape */
  border: none;
  border-radius: 0; /* remove round edges */
  background-color: red; /* button color */
  color: white; /* text color */
  cursor: pointer;
  transition: 0.3s;
}

/* hover effect */
#resetTimerBtn:hover {
  background-color: darkred;
  transform: scale(1.05);
}

/* center the button in the modal */
.Timemodal {
  display: none;
  flex-direction: column; /* stack elements vertically */
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.95;
  text-align: center;
  gap: 20px; /* spacing between elements like text and button */
}
.columnModal {
  height: 100%;
  width: 50%;
  display: block;
}

textscary {
  font-family: "Nosifer";
  font-size: 65px;
  text-align: center;
  color: #a00808;
  position: absolute;
  top: 30%;
}

textscary2 {
  font-family: "Nosifer";
  font-size: 65px;
  text-align: center;
  color: #a00808;
  position: absolute;
  top: 30%;
  right: 30%;
}

.modal-inventory {
  width: 40%;
  height: 80%;
  opacity: 1;
  margin: 0;
  display: flex;
}

.contain-icon {
  max-height: 75%;
  max-width: 75%;
  right: 0;
  bottom: 0;
  position: absolute;
}

.inventoryBox {
  height: 50%;
  width: 100%;
}

/* Don't cover the entire screen */
.modal-body {
  width: 100%;
  height: 70%;
  opacity: 1;
  margin: 0;
}

.modal-body2 {
  width: 70%;
  height: 70%;
  opacity: 1;
  margin: 0;
}

.modal-body3 {
  width: 100%;
  height: 70%;
  opacity: 1;
  margin: 0;
}

.timemodal-body {
  width: 100%;
  height: 100%;
  opacity: 1;
  margin: 0;
}

/* The Close Button */
.close {
  color: #ff0000;
  position: absolute;
  top: 0.1%;
  right: 1%;
  font-size: 180px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #ff0000;
  position: fixed;
  font-size: 200px;
  top: -30px;
  right: 0px;
  z-index: 1001;
}

.close2:hover,
.close2:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.timer {
  font-size: 30px;
  color: rgb(255, 0, 0);
  z-index: 9999;
}

/* ---- CARD FLIP ANIMATION ---- */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.card-back {
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
}
/* ---- MATCHED CARDS ---- */
.translucent {
  opacity: 0.4;
  transition: opacity 0.3s;
}

.non_clickable {
  pointer-events: none;
}

.symbol-box {
  position: relative;
  display: inline-block; /* keep boxes side by side */
  text-align: center;
}

.symbol-img1 {
  position: absolute;
  top: 3%; /* adjust distance above box */
  left: 55%;
  transform: translateX(-50%);
  width: 30px; /* symbol size */
  height: 30px;
  z-index: 10; /* ensures it sits above */
}

.symbol-img15 {
  position: absolute;
  bottom: 90%; /* adjust distance above box */
  left: 55%;
  transform: translateX(-50%);
  width: 35px; /* symbol size */
  height: 35px;
  z-index: 10; /* ensures it sits above */
}

.symbol-img2 {
  position: absolute;
  top: 3%; /* adjust distance above box */
  left: 68%;
  transform: translateX(-50%);
  width: 30px; /* symbol size */
  height: 30px;
  z-index: 10; /* ensures it sits above */
}

.symbol-img25 {
  position: absolute;
  bottom: 90%; /* adjust distance above box */
  left: 68%;
  transform: translateX(-50%);
  width: 35px; /* symbol size */
  height: 35px;
  z-index: 10; /* ensures it sits above */
}

.symbol-img3 {
  position: absolute;
  top: 3%; /* adjust distance above box */
  left: 81%;
  transform: translateX(-50%);
  width: 30px; /* symbol size */
  height: 30px;
  z-index: 10; /* ensures it sits above */
}

.symbol-img35 {
  position: absolute;
  bottom: 90%; /* adjust distance above box */
  left: 81%;
  transform: translateX(-50%);
  width: 35px; /* symbol size */
  height: 35px;
  z-index: 10; /* ensures it sits above */
}

.symbol-img4 {
  position: absolute;
  top: 3%; /* adjust distance above box */
  left: 93%;
  transform: translateX(-50%);
  width: 30px; /* symbol size */
  height: 30px;
  z-index: 10; /* ensures it sits above */
}

.symbol-img45 {
  position: absolute;
  bottom: 90%; /* adjust distance above box */
  left: 93%;
  transform: translateX(-50%);
  width: 35px; /* symbol size */
  height: 35px;
  z-index: 10; /* ensures it sits above */
}

.movedown2 {
  position: absolute;
  top: 350px;
  right: 17.4%;
}

.movedown3 {
  position: absolute;
  top: 350px;
  right: 130px;
}
input {
  width: 20%;
  height: 8%;
  font-size: 40px;
  padding: 5px;
}
button {
  margin-left: 0px;
  height: 10%;
  width: 9%;
  font-size: 30px;
  padding: 5px;
}

button2 {
  margin-left: 0px;
  height: 5%;
  width: 9%;
  font-size: 30px;
  padding: 5px;
}
